/* Custom Props */
:root{
--green: #30c88f;
--black:  #2d314d;
--grey:#9597a5;

--gradient:linear-gradient(135deg, #33d33e 0%, #2ab6d9 99.58% );
}


/* GLOBAL */

html{
   box-sizing:border-box;
   height:100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial",sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
  background-color:#fafafa;
color:var(--grey);
}

img{
  max-width: 100%;
  height: auto;
}
.container{
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* MAinContent */
.main-content{
 flex-grow: 1;
}